window {
    background-color: black;
}

.card {
    background-color: rgba(13, 13, 13, 0.38);
    border-radius: 28px;
    border: 1px solid rgba(255, 255, 255, 0.07);
    padding: 52px 72px 44px 72px;
}

.clock {
    font-size: 128px;
    font-weight: 200;
    color: white;
}

.separator {
    min-width: 120px;
    min-height: 1px;
    background-color: rgba(255, 255, 255, 0.19);
    margin-top: 16px;
    margin-bottom: 16px;
}

.date {
    font-size: 22px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.67);
    letter-spacing: 3px;
}

.dot {
    min-width: 12px;
    min-height: 12px;
    border-radius: 6px;
    background-color: white;
    opacity: 0.15;
    transition: opacity 600ms ease-in-out;
}

.dot.bright {
    opacity: 0.8;
}
